<!DOCTYPE html>
<html lang="en">

<head>
        {% load static %}
        <!-- Title -->
        <title>Admin Panel</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta charset="UTF-8">

        <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="{% static 'assets/plugins/materialize/css/materialize.min.css' %}"/>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'assets/plugins/metrojs/MetroJs.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/plugins/weather-icons-master/css/weather-icons.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" type="text/css"/>


        <!-- Theme Styles -->
        <link href="{% static 'assets/css/alpha.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>

        <script src="{% static 'assets/plugins/jquery/jquery-2.2.0.min.js' %}"></script>
        <script src="{% static 'assets/plugins/sweetalert/sweetalert.min.js' %}"></script>

        <script type="text/javascript">
        $(document).ready(function(){
            {% if messages %}
                {% for message in messages %}
                    var tag = "{{ message.tags }}";
                    var message = "{{ message }}";
                    if(tag=="info"){
                       swal(message);
                       console.log("info");
                    }
                    if(tag=="success"){
                        swal("Good job!", message, "success")
                        console.log("Success")
                    }
                    if(tag=="error"){
                        swal ("Oops" , message , "error")
                    }

                {% endfor %}
            {% endif %}
        });

        </script>
        <style>
            .myline-height{
                line-height: 1.5em;
            }
        </style>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
    <br>
    <div class="row">
        <div class="center-align"><span class="f-bold flow-text">Customer Information</span></div>
        <div class="col s12 m12 l12">
            <form class="col s12" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- GENERAL INFORMATION -->


                <div class="card">
                    <div class="card-content">

                     <!-- Name Fields -->

                    <span class="card-title" style="font-size: 18px">General Profile</span><br><br />
                    <div class="row">

                            <span class="" style="font-size: 18px"><strong>Login Information</strong></span><br><br />
                            <div class="row">
                                <div class="input-field col s12 l6 m6">
                                    <input name="email" id="email" type="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                                <div class="input-field col s12 l6 m6">
                                    <input name="password" id="password" type="password" class="validate">
                                    <label for="password">Password</label>
                                </div>
                            </div>

                            <span class="" style="font-size: 18px"><strong>Name Fields</strong></span><br><br />
                            <div class="row">
                                <div class="input-field col s12 l4">
                                    <input name="first_name" id="first_name" type="text" class="validate">
                                    <label for="first_name">First Name</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <input name="middle_name" id="middle_name" type="text" class="validate">
                                    <label for="middle_name">Middle Name</label>
                                </div>
                                <div class="input-field col s12 l4">
                                    <input name="last_name" id="last_name" type="text" class="validate">
                                    <label for="last_name">Last Name</label>
                                </div>
                            </div>

                    <!-- Name Fields End -->

                            <!-- Age -->

                            <span class="" style="font-size: 18px"><strong>Age</strong></span><br><br />
                            <div class="row">
                                <div class="input-field col s12 l6 m6">
                                    <input name="age" id="age" type="number" max="100" min="15" class="validate" required>
                                    <label for="age">Age (in Years)</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 l6 m6">
                                    <input name="date_of_birth" id="date_of_birth" type="date" class="validate">
                                    <label for="date_of_birth">Date of Birth</label>
                                </div>
                            </div>

                            <!-- Age ends -->
                            <!-- Telephone Number -->

                            <span class="" style="font-size: 18px"><strong>Telephone Number</strong></span><br><br />
                            <div class="row">
                                <div class="input-field col s12 l6 m6">
                                    <input name="mobile1" id="mobile1" type="number" maxlength="10" minlength="10" class="validate">
                                    <label for="mobile1">Mobile 1</label>
                                </div>
                                <div class="input-field col s12 l6 m6">
                                    <input name="mobile2" id="mobile2" type="number" maxlength="10" minlength="10" min="15" class="validate">
                                    <label for="mobile2">Mobile 2</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 l6 m6">
                                    <input name="telephone1" id="telephone1" type="number" maxlength="10" minlength="10" class="validate">
                                    <label for="telephone1">Telephone 1</label>
                                </div>
                                <div class="input-field col s12 l6 m6">
                                    <input name="telephone2" id="telephone2" type="number" maxlength="10" minlength="10" min="15" class="validate">
                                    <label for="telephone2">Telephone 2</label>
                                </div>
                            </div>

                            <!-- Telephone Number ends -->
                            <!-- Temporary address -->

                            <span class="" style="font-size: 18px"><strong>Temporary Address</strong></span><br><br />
                            <div class="row">
                                <div class="input-field col s12 l6 m6">
                                    <input name="t_house_no" id="t_house_no" type="text" class="validate">
                                    <label for="t_house_no">House No</label>
                                </div>
                                <div class="input-field col s12 l6 m6">
                                    <input name="t_street_no" id="t_street_no" type="text" class="validate">
                                    <label for="t_street_no">Street No</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 l6 m6">
                                    <input name="t_area" id="t_area" type="text" class="validate">
                                    <label for="t_area">Area</label>
                                </div>
                                <div class="input-field col s12 l6 m6">
                                    <input name="t_landmark" id="t_landmark" type="text" class="validate">
                                    <label for="t_landmark">Landmark</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 l6 m6">
                                    <input name="t_at_po" id="t_at_po" type="text" class="validate">
                                    <label for="t_at_po">At Po.:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 l6 m6">
                                    <input name="t_town" id="t_town" type="text" class="validate">
                                    <label for="t_town">Town</label>
                                </div>
                                <div class="input-field col s12 l6 m6">
                                    <input name="t_district" id="t_district" type="text" class="validate">
                                    <label for="t_district">District</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 l6 m6">
                                    <input name="t_state" id="t_state" type="text" class="validate">
                                    <label for="t_state">State</label>
                                </div>
                                <div class="input-field col s12 l6 m6">
                                    <input name="t_country" id="t_country" type="text" class="validate">
                                    <label for="t_country">Country</label>
                                </div>
                            </div>

                            <!-- Temporary address ends -->
                            <!-- Permanent Address -->

                            <span class="" style="font-size: 18px"><strong>Permanent Address</strong></span><br><br />
                            <div class="row">
                                <div class="input-field col s12 l6 m6">
                                    <input name="p_house_no" id="p_house_no" type="text" class="validate">
                                    <label for="p_house_no">House No</label>
                                </div>
                                <div class="input-field col s12 l6 m6">
                                    <input name="p_street_no" id="p_street_no" type="text" class="validate">
                                    <label for="p_street_no">Street No</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 l6 m6">
                                    <input name="p_area" id="p_area" type="text" class="validate">
                                    <label for="p_area">Area</label>
                                </div>
                                <div class="input-field col s12 l6 m6">
                                    <input name="p_landmark" id="p_landmark" type="text" class="validate">
                                    <label for="p_landmark">Landmark</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 l6 m6">
                                    <input name=p_at_po" id="p_at_po" type="text" class="validate">
                                    <label for="p_at_po">At Po.:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 l6 m6">
                                    <input name="p_town" id="p_town" type="text" class="validate">
                                    <label for="p_town">Town</label>
                                </div>
                                <div class="input-field col s12 l6 m6">
                                    <input name="p_district" id="p_district" type="text" class="validate">
                                    <label for="p_district">District</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 l6 m6">
                                    <input name="p_state" id="p_state" type="text" class="validate">
                                    <label for="p_state">State</label>
                                </div>
                                <div class="input-field col s12 l6 m6">
                                    <input name="p_country" id="p_country" type="text" class="validate">
                                    <label for="p_country">Country</label>
                                </div>
                            </div>

                            <!-- Permanent Addresss ends -->

                            <!-- ID Proof fields -->

                            <span class="" style="font-size: 18px"><strong>ID Proof</strong></span><br><br />
                            <div class="row">
                                <div class="col s12 m6 l6">
                                    <div class="file-field input-field">
                                        <div class="btn teal lighten-1">
                                            <span>Aadhar Card</span>
                                            <input name="aadhar_card" type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m6 l6">
                                    <div class="file-field input-field">
                                        <div class="btn teal lighten-1">
                                            <span>Election Card</span>
                                            <input name="election_card" type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m6 l6">
                                    <div class="file-field input-field">
                                        <div class="btn teal lighten-1">
                                            <span>PAN Card</span>
                                            <input name="pan_card" type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m6 l6">
                                    <div class="file-field input-field">
                                        <div class="btn teal lighten-1">
                                            <span>Passport Size Photo</span>
                                            <input name="passport_size" type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- ID Proof ends -->
                        </div>
                    </div>
                </div>

                <!-- GENERAL INFORMATION ENDS -->



                <div class="row">
                    <div class="col s12 m12 l12">
                        <input type="submit" class="waves-effect waves-green btn m-b-xs" value="submit">

                    </div>
                </div>
            </form>
        </div>
    </div>

<!-- Javascripts -->
        <script src="{% static 'assets/plugins/materialize/js/materialize.min.js' %}"></script>
        <script src="{% static 'assets/plugins/material-preloader/js/materialPreloader.min.js' %}"></script>
        <script src="{% static 'assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
        <script src="{% static 'assets/plugins/waypoints/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'assets/plugins/counter-up-master/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'assets/plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
        <script src="{% static 'assets/js/pages/form_elements.js' %}"></script>
        <script src="{% static 'assets/plugins/flot/jquery.flot.min.js' %}"></script>
        <script src="{% static 'assets/plugins/flot/jquery.flot.time.min.js' %}"></script>
        <script src="{% static 'assets/plugins/flot/jquery.flot.symbol.min.js' %}"></script>
        <script src="{% static 'assets/plugins/flot/jquery.flot.resize.min.js' %}"></script>
        <script src="{% static 'assets/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
        <script src="{% static 'assets/plugins/curvedlines/curvedLines.js' %}"></script>
        <script src="{% static 'assets/plugins/peity/jquery.peity.min.js' %}"></script>
        <script src="{% static 'assets/js/alpha.min.js' %}"></script>


    </body>

</html>