{% extends 'demo/layout.html' %}
{% block body %}
    <h4 align="center">Maids</h4>
    {% if maids %}
    {% for i in maids %}
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card white darken-1 hoverable">
                <div class="card-content">
                    <span class="card-title truncate">{{ i.general_profile.name }}</span>
                    <p><strong>Age: </strong>&nbsp;&nbsp;&nbsp;{{ i.general_profile.age }}</p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn indigo m-b-xs" href="/view/{{ i.id }}/">View Profile</a>
                    {% if request.user.is_admin or i.user == request.user %}
                        <a class="waves-effect waves-light btn red m-b-xs" href="/delete/maid/{{ i.id }}">Delete Profile</a>
                    {% elif request.user.is_customer %}
                         <a class="modal-trigger waves-effect waves-light btn red m-b-xs" id="{{ i.id }}" onclick="payment(this)" href="#modal1">Request Quote</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



    {% endfor %}
        <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Please select your preferred payment option :</h4>
            <div class="row">
                <form action="/requests/new/" method="post">
                    <div class="input-field col s12">
                        {% csrf_token %}
                        <input id="id" name="id" value="" class="hide">
                        <select name="payment_option" required>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="Cash">Cash</option>
                            <option value="Debit Card">Debit Card</option>
                            <option value="Credit Card">Credit Card</option>
                            <option value="Online Payment">Online Payment</option>
                            <option value="Cheque">Cheque</option>
                        </select>
                        <label>Payment Options</label>
                    </div>
                    <div class="col s12">
                        <input class="waves-effect waves-light btn indigo m-b-xs" type="submit">
                    </div>
                </form>
            </div>
        </div>


    {% endif %}

    <script type="text/javascript">
        function payment(element){
            var id = $(element).attr("id");
            $("#id").attr("value", id);
        }
    </script>
{% endblock %}