<!DOCTYPE html>
<html lang="en">

<head>
        {% load static %}
        <!-- Title -->
        <title>Admin Panel</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta charset="UTF-8">

        <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="{% static 'assets/plugins/materialize/css/materialize.min.css' %}"/>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'assets/plugins/metrojs/MetroJs.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/plugins/weather-icons-master/css/weather-icons.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" type="text/css"/>


        <!-- Theme Styles -->
        <link href="{% static 'assets/css/alpha.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>

        <script src="{% static 'assets/plugins/jquery/jquery-2.2.0.min.js' %}"></script>
        <script src="{% static 'assets/plugins/sweetalert/sweetalert.min.js' %}"></script>

        <script type="text/javascript">
        $(document).ready(function(){
            {% if messages %}
                {% for message in messages %}
                    var tag = "{{ message.tags }}";
                    var message = "{{ message }}";
                    if(tag=="info"){
                       swal(message);
                       console.log("info");
                    }
                    if(tag=="success"){
                        swal("Good job!", message, "success")
                        console.log("Success")
                    }
                    if(tag=="error"){
                        swal ("Oops" , message , "error")
                    }

                {% endfor %}
            {% endif %}
        });

        </script>
        <style>
            .myline-height{
                line-height: 1.5em;
            }
        </style>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
    <div class="row">
        <div class="col s12">
            <div class="row">


                <div class="col s12 m10 offset-m1">
                    <div>
                        <div class="card">
                            <div class="row">

                                <div class="col s12 m3">


                                    <div class="card-image">

                                        {% if maid.uploads.passport_size.is_there %}

                                            <img src="{{ maid.uploads.passport_size.url }}">

                                        {% endif %}
                                    </div>

                                </div>


                                <div class="col s12 m9">
                                    <div class="card-content">
                                        <h2 style="">{{ maid.general_profile.name }}</h2>
                                    </div>

{##}
{#                                    <div class="row">#}
{#                                        <div class="col s2 m1">#}
{#                                            <div class="card">#}
{#                                                <div class="card-image">#}
{#                                                    <img height="45" width="30" src="https://www.facebook.com/images/fb_icon_325x325.png">#}
{##}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{##}
{#                                        <div class="col s2 m1">#}
{#                                            <div class="card">#}
{#                                                <div class="card-image">#}
{#                                                    <img height="45" src="http://nextstepdancecompany.co.za/wp-content/uploads/2017/02/Google_plus.svg_.png">#}
{##}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{##}
{#                                        <div class="col s2 m1">#}
{#                                            <div class="card">#}
{#                                                <div class="card-image">#}
{#                                                    <img height="45" src="https://instagram-brand.com/wp-content/themes/ig-branding/assets/images/ig-logo-email.png">#}
{##}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}


                                </div>

                                <!-- ek zzala -->

                                 <!-- pranav start -->

                                 <div class="row">
                                       <div class="col s12">
                               	         <ul class="tabs tab-demo z-depth-1" style="width: 100%;">
                               	         <li class="tab col s2"><a href="#general"  class="active">General Profile</a></li>
                               	         <li class="tab col s2"><a href="#education">Educational Profile</a></li>
                               	         <li class="tab col s2 "><a href="#job">Job Profile</a></li>
                               	         <li class="tab col s2"><a href="#upload">Uploads</a></li>
                               	         <li class="tab col s2"><a href="#skills">Skills</a></li>
                               	         <li class="tab col s2"><a href="#other">Other Details</a></li>
                               	         </ul>
                                        </div>


                               		         <!-- general Profile -->
                               		        <div id="general" class="col s12">
                               			      <div class="card">
                               			      		<div class="card-content">
                               			        		<div class="row">
                               			        		<span class="" style="font-size: 18px"><strong>General</strong></span><br><br />
                               			        			<div class="col s12 m4 l4">
                               			        				First Name: <b>{{ maid.general_profile.name.first_name }}</b>
                               			        			</div>
                               			        			<div class="col s12 m4 l4">
                               			        				Middle Name: <b>{{ maid.general_profile.name.middle_name }}</b>
                               			        			</div>
                               			        			<div class="col s12 m4 l4">
                               			        				Last Name: <b>{{ maid.general_profile.name.last_name }}</b>
                               			        			</div>
                               			        		</div>

                               			        		<div class="row">
                               			        			<div class="col s12 m4 l4">
                               			        				Age : <b>{{ maid.general_profile.age }}</b>
                               			        			</div>
                               			        		</div>

                               			        		<hr/>	<!-- Mobile -->
                               			        		<div class="row">
                               			        		<span class="" style="font-size: 18px"><strong>Mobile</strong></span><br><br />
                               			        			<div class="col s12 l6 m6">
                               			        				Mobile 1 : <b>{{ maid.general_profile.contact_number.mobile1 }}</b>
                               			        			</div>
                               			        			<div class="col s12 l6 m6">
                               			        				Mobile 2 : <b>{{ maid.general_profile.contact_number.mobile2 }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 l6 m6">
                               			        				Telephone 1 : <b>{{ maid.general_profile.contact_number.telephone1 }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Telephone 2 : <b>{{ maid.general_profile.contact_number.telephone2 }}</b>
                               			        			</div>
                               			        		</div>


                               							<hr/>	<!-- Address -->
                               			        		<div class="row">
                               			        		<span class="" style="font-size: 18px"><strong>Temporary Address</strong></span><br><br />
                               			        			<div class="col s12 l6 m6">
                               			        				House No : <b>{{ maid.general_profile.temporary_address.house_no }}</b>
                               			        			</div>
                               			        			<div class="col s12 l6 m6">
                               			        				Street no : <b>{{ maid.general_profile.temporary_address.street_no }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				area : <b>{{ maid.general_profile.temporary_address.area }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				landmark : <b>{{ maid.general_profile.temporary_address.landmark }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				At Post : <b>{{ maid.general_profile.temporary_address.at_po }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Town : <b>{{ maid.general_profile.temporary_address.town }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				District : <b>{{ maid.general_profile.temporary_address.district }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				State : <b>{{ maid.general_profile.temporary_address.state }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				Country : <b>{{ maid.general_profile.temporary_address.country }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Google Pin : <b>{{ maid.general_profile.temporary_address.google_pin }}</b>
                               			        			</div>
                               			        		</div>


                               			        		<hr/>	<!--permanant Address -->
                               			        		<div class="row">
                               			        		<span class="" style="font-size: 18px"><strong>Permanent Address</strong></span><br><br />
                               			        			<div class="col s12 m6 l6">
                               			        				House No : <b>{{ maid.general_profile.permanent_address.house_no }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Street no : <b>{{ maid.general_profile.permanent_address.street_no }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				area : <b>{{ maid.general_profile.permanent_address.area }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				landmark : <b>{{ maid.general_profile.permanent_address.landmark }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				At Post : <b>{{ maid.general_profile.permanent_address.at_po }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Town : <b>{{ maid.general_profile.permanent_address.town }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				District : <b>{{ maid.general_profile.permanent_address.district }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				State : <b>{{ maid.general_profile.permanent_address.state }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				Country : <b>{{ maid.general_profile.permanent_address.country }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Google Pin : <b>{{ maid.general_profile.permanent_address.google_pin }}</b>
                               			        			</div>
                               			        		</div>


                               			        		<hr/>	<!-- Emergency Contact -->
                               			        		<div class="row">
                               			        		<span class="" style="font-size: 18px"><strong>Emergency Contact</strong></span><br><br />
                               			        			<div class="col s12 m4 l4">
                               			        				First Name : <b>{{ maid.general_profile.emergency_contact.first_name }}</b>
                               			        			</div>
                               			        			<div class="col s12 m4 l4">
                               			        				Middle Name : <b>{{ maid.general_profile.emergency_contact.middle_name }}</b>
                               			        			</div>
                               			        			<div class="col s12 m4 l4">
                               			        				Last Name : <b>{{ maid.general_profile.emergency_contact.last_name }}</b>
                               			        			</div>
                               			        		</div><br/>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				Relation : <b>{{ maid.general_profile.emergency_contact.relation }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Contact Number : <b>{{ maid.general_profile.emergency_contact.contact_number }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				House Number : <b>{{ maid.general_profile.emergency_contact.house_no }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Street Number : <b>{{ maid.general_profile.emergency_contact.street_no }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				Area : <b>{{ maid.general_profile.emergency_contact.area }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Landmark : <b>{{ maid.general_profile.emergency_contact.landmark }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				At Post : <b>{{ maid.general_profile.emergency_contact.at_po }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Town : <b>{{ maid.general_profile.emergency_contact.town }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				District : <b>{{ maid.general_profile.emergency_contact.district }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				State : <b>{{ maid.general_profile.emergency_contact.state }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				Country : <b>{{ maid.general_profile.emergency_contact.country }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Google PIN : <b>{{ maid.general_profile.emergency_contact.google_pin }}</b>
                               			        			</div>
                               			        		</div>

                               			        		<hr/>
                               			        		<!-- Pwd -->
                               			        		<div class="row">
                               			        		<span class="" style="font-size: 18px"><strong>Physical Disability</strong></span><br><br />
                               			        			<div class="col s12">
                               			        				 <b>{{ maid.general_profile.physical_disability }}</b>
                               			        			</div>
                               			        		</div>

                               			        		<hr/>
                               			        		<!-- Documents -->
                               			        		<div class="row">
                               			        			<span class="" style="font-size: 18px"><strong>ID Proofs</strong></span><br><br />
                               			        			{% if maid.general_profile.id_proof.aadhar_card.is_there %}
                               			        			<div class="col s12 m4 l4">
                               			        				Aadhar Card:<br/><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.general_profile.id_proof.aadhar_card.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                               			        			{% if maid.general_profile.id_proof.election_card.is_there %}
                               			        			<div class="col s12 m4 l4">
                               			        				Election Card:<br/><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.general_profile.id_proof.election_card.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                               			        			{% if maid.general_profile.id_proof.pan_card.is_there %}
                               			        			<div class="col s12 m4 l4">
                               			        				PAN Card:<br/><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.general_profile.id_proof.aadhar_card.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                               			        		</div>



                               			        	</div>
                               			        </div>
                               		        </div>
                               		        <!-- Educational  -->
                               		        <div id="education" class="col s12">
                               		        	<div class="card">
                               			      		<div class="card-content">
                               			        		<div class="row">
                               			        		<span class="" style="font-size: 18px"><strong>Post Graduation</strong></span><br><br />
                               			        			<div class="col s12 m6 l6">
                               			        				Specilization : <b>{{ maid.educational_profile.pg_degree.specialization }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Year of passing: <b>{{ maid.educational_profile.pg_degree.year_of_passing }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				Percentage: <b>{{ maid.educational_profile.pg_degree.percentage }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				University Name : <b>{{ maid.educational_profile.pg_degree.university_name }}</b>
                               			        			</div>
                               			        		</div>

                               			        		<hr/>	<!-- Bachelors -->
                               			        		<div class="row">
                               			        		<span class="" style="font-size: 18px"><strong>Bachelors</strong></span><br><br />
                               			        			<div class="col s12 m6 l6">
                               			        				Specilization : <b>{{ maid.educational_profile.bachelors.specialization }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Year of passing: <b>{{ maid.educational_profile.bachelors.year_of_passing }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				Percentage: <b>{{ maid.educational_profile.bachelors.percentage }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				University Name : <b>{{ maid.educational_profile.bachelors.university_name }}</b>
                               			        			</div>
                               			        		</div>


                               							<hr/>	<!-- Intermediate -->
                               			        		<div class="row">
                               			        		<span class="" style="font-size: 18px"><strong>Intermediate</strong></span><br><br />
                               			        			<div class="col s12 m6 l6">
                               			        				Year of passing : <b>{{ maid.educational_profile.intermediate.year_of_passing }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Percentage : <b>{{ maid.educational_profile.intermediate.percentage }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				State Board : <b>{{ maid.educational_profile.intermediate.state_board }}</b>
                               			        			</div>
                               			        		</div>


                               			        		<hr/>	<!-- Intermediate -->
                               			        		<div class="row">
                               			        		<span class="" style="font-size: 18px"><strong>SSC</strong></span><br><br />
                               			        			<div class="col s12 m6 l6">
                               			        				Year of passing : <b>{{ maid.educational_profile.ssc.year_of_passing }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Percentage : <b>{{ maid.educational_profile.ssc.percentage }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				State Board : <b>{{ maid.educational_profile.ssc.state_board }}</b>
                               			        			</div>
                               			        		</div>

                               			        		<hr/>	<!-- Intermediate -->
                               			        		<div class="row">
                               			        		<span class="" style="font-size: 18px"><strong>Below SSC</strong></span><br><br />
                               			        			<div class="col s12 m6 l6">
                               			        				Year of passing : <b>{{ maid.educational_profile.below_ssc.year_of_passing }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Percentage : <b>{{ maid.educational_profile.below_ssc.percentage }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				State Board : <b>{{ maid.educational_profile.below_ssc.state_board }}</b>
                               			        			</div>
                               			        		</div>


                               			        	</div>
                               			        </div>

                               		        </div>

                               		        <!-- job -->
                               		        <div id="job" class="col s12">
                               		        	<div class="card">
                               			      		<div class="card-content">

                               			      		{% for job_profile in maid.job_profile.job_experience.all %}

                               			        		<div class="row">
                               			        			<span class="" style="font-size: 18px"><strong>Job</strong></span><br><br />
                               			        			<div class="col s12 m6 l6">
                               			        				From year : <b>{{ job_profile.from_year }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				To year: <b>{{ job_profile.to_year }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				Organisation: <b>{{ job_profile.organisation }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Total Years : <b>{{ job_profile.total_years }}</b>
                               			        			</div>
                               			        		</div>

                               			        		<div class="row">
                               			        			<div class="col s12 m6 l6">
                               			        				Salary: <b>{{ job_profile.salary }}</b>
                               			        			</div>
                               			        			<div class="col s12 m6 l6">
                               			        				Reason of Leave : <b>{{ job_profile.reason_left }}</b>
                               			        			</div>
                               			        		</div>
                               			        		<hr/>
                               			        	{% endfor %}

                               			        	</div>
                               			        </div>


                               		        </div>

                               		        <!-- upload -->
                               		        <div id="upload" class="col s12">
                               		        	<div class="card">
                               			      		<div class="card-content">
                               			        		<div class="row">
                               			        			<span class="" style="font-size: 18px"><strong>Passport</strong></span><br><br />
                               			        			{% if maid.uploads.passport.front_page.is_there %}
                               			        			<div class="col s12 l6 m6">
                               			        				Front page :<br /><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.uploads.passport.front_page.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                               			        			{% if maid.uploads.passport.back_page.is_there %}
                               			        			<div class="col s12 l6 m6">
                               			        				Back page:<br/><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.uploads.passport.back_page.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                               			        		</div>

                               			        		<div class="row">
                               			        			<span class="" style="font-size: 18px"><strong>Bank Passbook</strong></span><br><br />
                               			        			{% if maid.uploads.bank_passbook.front_page.is_there %}
                               			        			<div class="col s12 l6 m6">
                               			        				Front page :<br/><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.uploads.bank_passbook.front_page.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                               			        			{% if maid.uploads.bank_passbook.back_page.is_there %}
                               			        			<div class="col s12 l6 m6">
                               			        				Back page:<br/><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.uploads.bank_passbook.back_page.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                               			        		</div>

                               			        		<div class="row">
                               			        			<span class="" style="font-size: 18px"><strong>Visa</strong></span><br><br />
                               			        			{% if maid.uploads.visa.front_page.is_there %}
                               			        			<div class="col s12 l6 m6">
                               			        				Front page :<br/><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.uploads.visa.front_page.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                               			        			{% if maid.uploads.visa.back_page.is_there %}
                               			        			<div class="col s12 l6 m6">
                               			        				Back page:<br/><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.uploads.visa.back_page.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                               			        		</div>


                               			        		<hr/>
                               			        		<div class="row">
                               			        			<span class="" style="font-size: 18px"><strong>Educational Docs</strong></span><br><br />
                               			        			{% if maid.uploads.pg_degree.is_there %}
                               			        			<div class="col s12 l6 m6">
                               			        				Post Graduation :<br/><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.uploads.pg_degree.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                               			        			{% if maid.uploads.bachelors.is_there %}
                               			        			<div class="col s12 l6 m6">
                               			        				Bachelors:<br/><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.uploads.bachelors.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                               			        		</div>
                               			        		<div class="row">
                               			        			{% if maid.uploads.intermediate.is_there %}
                               			        			<div class="col s12 l6 m6">
                               			        				<br>Intermediate:<br/><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.uploads.intermediate.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                                                            {% if maid.uploads.ssc.is_there %}
                               			        			<div class="col s12 l6 m6">
                               			        				SSC:<br/><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.uploads.ssc.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}


                               			        		</div>
                                                        <div class="row">
                                                            {% if maid.uploads.below_ssc.is_there %}
                               			        			<div class="col s12 l6 m6">Below SSC:<br/><br />
                                                                <a class="btn waves-effect waves-light indigo" href="{{ maid.uploads.below_ssc.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                                                        </div>

                               			        		<hr/>
                               			        		<div class="row">
                               			        			<span class="" style="font-size: 18px"><strong>ID Docs</strong></span><br><br />
                               			        			{% if maid.uploads.signature.is_there %}
                               			        			<div class="col s12 l6 m6">
                               			        				Signature:<br/><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.uploads.signature.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                               			        			{% if maid.uploads.thumb_impression.is_there %}
                               			        			<div class="col s12 l6 m6">
                               			        				Thumb Impression:<br/><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.uploads.thumb_impression.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                               			        		</div>

                               			        		<div class="row">
                               			        			{% if maid.uploads.passport_size.is_there %}
                               			        			<div class="col s12 l6 m6">
                               			        				Passport Photo:<br/><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.uploads.passport_size.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                               			        			{% if maid.uploads.full_body.is_there %}
                               			        			<div class="col s12 l6 m6">
                               			        				Full Body Photo:<br/><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.uploads.full_body.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                               			        			{% if maid.uploads.medical.is_there %}
                               			        			<div class="col s12 l6 m6">
                               			        				Medical:<br/><br />
                               			        				<a class="btn waves-effect waves-light indigo" href="{{ maid.uploads.medical.url }}" target="_blank">View Image</a>
                               			        			</div>
                               			        			{% endif %}
                               			        		</div>

                               			        		<div class="row">
                               			        			{% if maid.uploads.video %}
                               			        			<div class="col s12">
                               			        				<video width="320" height="240" controls>
                               			        					<source src="{{ maid.uploads.video.url }}" type="video.mp4">
                               			        				</video>
                               			        			</div>
                               			        			{% endif %}
                               			        		</div>


                               			        	</div>
                               			        </div>
                               		        </div>

                               		        <!-- skills -->
                               		        <div id="skills" class="col s12">
                               		        	<div class="card">
                               		        		<div class="card-content">
                               		        			<div class="row">

                               		        			<!-- {{ maid.skills.values }} -->
                               		        			{% for i in maid.skills.values.all %}
                               		        				<div class="chip">{{ i.skill }}</div><br/>
                               		        			{% endfor %}
                               		        			</div>
                               		        		</div>

                               		        	</div>
                               		        </div>

                               		        <!-- others -->
                               		        <div id="other" class="col s12">
                               		        	<div class="card">
                               		        		<div class="card-content">
                               		        			<div class="row">
                               		        			 	<div class="col s12 m4 l4">
                               		        			 		Medical Issue: <b> {{ maid.other_details.medical_issue }} </b>
                               		        			 	</div>
                               		        			 	<div class="col s12 m4 l4">
                               		        			 		Current Salary: <b> {{ maid.other_details.current_salary }} </b>
                               		        			 	</div>
                               		        			 	<div class="col s12 m4 l4">
                               		        			 		Expected Salary: <b> {{ maid.other_details.expected_salary }} </b>
                               		        			 	</div>
                               		        			</div>
                               		        		</div>
                               		        	</div>
                               		        </div>

                                   </div>

                                   <!-- pranav over -->











                             </div>
                          </div>
                        </div>
                         </div>

                       </div>
                    </div>
                </div>


<!-- Javascripts -->
        <script src="{% static 'assets/plugins/materialize/js/materialize.min.js' %}"></script>
        <script src="{% static 'assets/plugins/material-preloader/js/materialPreloader.min.js' %}"></script>
        <script src="{% static 'assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
        <script src="{% static 'assets/plugins/waypoints/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'assets/plugins/counter-up-master/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'assets/plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
        <script src="{% static 'assets/js/pages/form_elements.js' %}"></script>
        <script src="{% static 'assets/plugins/flot/jquery.flot.min.js' %}"></script>
        <script src="{% static 'assets/plugins/flot/jquery.flot.time.min.js' %}"></script>
        <script src="{% static 'assets/plugins/flot/jquery.flot.symbol.min.js' %}"></script>
        <script src="{% static 'assets/plugins/flot/jquery.flot.resize.min.js' %}"></script>
        <script src="{% static 'assets/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
        <script src="{% static 'assets/plugins/curvedlines/curvedLines.js' %}"></script>
        <script src="{% static 'assets/plugins/peity/jquery.peity.min.js' %}"></script>
        <script src="{% static 'assets/js/alpha.min.js' %}"></script>


    </body>

</html>
